GROQ_API_KEY=groq-key-placeholder
GOOGLE_API_KEY=gemini-key-placeholder
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=langsmith_api_key_placeholder
LANGSMITH_PROJECT="homebase"